{% extends 'viewBase.html' %}

{% block title %} View Franchise {% endblock title %}

{% block form %} 
<div class="section-title">
    <h2>PROJECT OVERVIEW</h2>
  </div>
<style>
    h5{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
h6{
    max-width: 900px;
    margin: 0 auto;
}

</style>
  <div>
    <h5>The IPL Auction System is a web application that manages the data of the auction process of the 
        Indian Premier League (IPL), a popular professional Twenty20 cricket league in India. <br><br>
        The application aims to provide a user-friendly platform for IPL Admin to stimulate the IPL auction process, allowing the IPL teams to bid for and acquire players for their 
        respective teams. With its intuitive user interface and efficient data management system, 
        the IPL Auction System simplifies the auction process, enabling team owners to make informed 
        decisions and build competitive teams.</h5><br>

  </div><br>

  <div class="section-title">
    <h4 style='color: gray;'>TECHNOLOGIES USED:</h4>
    <h5>Python, Flask, SQLAlchemy</h5>
  </div>
<div style='text-align:center;'>
  <img src="static/assets/img/cricket (1).png" class="img-fluid animated" alt="" style = "text-align:center; width: 150px; height: 150px; margin: 0 auto;">
</div>
{% endblock form %}